NET "clk" LOC="T9";
NET "reset" LOC="L14";
NET "R" LOC="R12";
NET "G" LOC="T12";
NET "B" LOC="R11";
NET "HS" LOC="R9";
NET "VS" LOC="T10";
NET "left" LOC="L13";
NET "right" LOC="M13";
NET "disp" LOC="M14";
